* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100dvh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}